.button {
    padding: 16.6px 30px;
    border-radius: 50px;
    font: var(--font-l);
    font-weight: 500;
    color: #fff;
}

.white {
    color: #000;
    background: #fff;
    font-weight: 400;
    border: 1px solid rgba(228, 228, 228, 0.5);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.03);
}

.green {
    background: var(--color-green);
}

.green:hover {
    background: darken($color: #2CBB77, $amount: 3);
}

.blue, .blue_bordered {
    background: var(--color-blue);
}

.blue_bordered {
    border: 1px solid #fff;
}

.blue:hover, .blue_bordered:hover {
    background: darken($color: #4288BD, $amount: 5);
}

.bordered {
    background: transparent;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
}

.bordered:hover {
    background: var(--color-blue);
    color: #fff;
}