.active {
    background: var(--color-blue);
    color: #fff;
}

.button {
    padding: 21px 75px;
    margin: 0 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 121px -30px 0 -30px;
}

