

.input {
    border: none;
    padding: 17px 30px;
    font: var(--font-m);
    border-radius: 10px;
}

.gray {
    color: #000;
    background: var(--color-l-gray);
}

.gray::placeholder {
    color: #000;
}

.white {
    background: #fff;
    color: #000;
}

.white::placeholder {
    color: #000;
}