

.onlineService{
    display: flex;
    justify-content: space-around;

}

.text {
    color: #000;
    font: var(--font-l);
    text-align: justify;
    margin-bottom: 20px;
}

.button {
    margin-top: auto;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 45%;
}

.img {
    width: 400px;
}