

.tariffs {
    padding: 171px 0 114px 0
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.card { 
    margin: 0 15px;
}

.text {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.icon {
    margin-right: 12px;
}