
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.block {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.card {
    margin: 0 15px;
}

.title {
    font: var(--font-xl);
    margin-bottom: 68px;
}