.inputs {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto 0 auto
}

.input {
    margin-bottom: 16px;
}

.input {
    border: none;
    padding: 17px 30px;
    font: var(--font-m);
    border-radius: 10px;
}

.white {
    background: #fff;
    color: #000;
}

.white::placeholder {
    color: #000;
}

.error {
    color: red;
    padding-left: 30px;
    margin-bottom: 20px;
}

.privacy {
    margin: 32px 0 58px 0;
}

.privacy > a {
    color: var(--color-blue);
    text-decoration: none;
}
.privacy > a:hover {
    text-decoration: underline;
}

.button {
    align-self: center;
}


@media screen and (max-width: 980px) {
    .inputs {
        width: 100%;
    }
}