

.askQuestion {
    padding: 163px 0 107px 0;
}


.content {
    display: flex;
}

.infoBlock {
    padding: 79px 0 0 66px;
}

.icon {
    font-size: 35px;
    margin-bottom: 36px;
}

.title {
    font: var(--font-xl);
    font-weight: 700;
    margin-top: 36px;
    margin-bottom: 8px;
}

.text {
    font: var(--font-m);
    margin-bottom: 24px;
}

.social {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    font: var(--font-m);
}

.social:hover {
    text-decoration: underline;
}

.phone {
    font: var(--font-l);
    font-size: 28px;
}

.socialIcon {
    margin-right: 22px;
}


@media screen and (max-width: 1239px) {

    .content {
        flex-direction: column;
        align-items: center;
    }

    .infoBlock {
        padding: 0;
        order: 0;
        margin-bottom: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form {
        order: 1;
        max-width: 100%;
    }

}


@media screen and (max-width: 610px) {
    
}