.cardsBlock {
    background: var(--color-blue);
    padding: 86px 0 114px 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 15px ;
}

.title {
    font: var(--font-xl);
    font-weight: 700;
    margin-bottom: 67px;
    color: #fff;
}

@media screen and (max-width: 1239px) {
    
}   