

.label {
    color: var(--color-blue);
    position: relative;
    padding-left: 24px;
}

.label::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: #fff;
    border: 2px solid var(--color-blue);
    border-radius: 100%;
}

.label::after {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 0;
    transform: translate(3px, -50%);
    border-radius: 100%;

}

.input:checked + .label::after{
    background: var(--color-blue);
}

.input {
    border-color: var(--color-blue);
    display: none;
}